<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests">
    <test name="SeleniumLabTests">
        <classes>
            <class name="project.tests.BrandTest"/>
            <class name="project.tests.CamerasTest"/>
            <class name="project.tests.CurrencyTest"/>
            <class name="project.tests.DesktopTest"/>
            <class name="project.tests.ForgotPassTest"/>
            <class name="project.tests.RegisterTest"/>
            <class name="project.tests.SortedProductsTest"/>
        </classes>
    </test>
</suite>